.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: white 1px;
  background: radial-gradient(
    var(--tertiary-color),
    var(--primary-color),
    var(--gradient-via-color)
  );
}

text-container {
  width: 150px;
}

.container-text {
  width: 150px;
  background-color: red;
  position: absolute;
}
