.button {
  position: fixed;

  right: 0px;

  margin: 20px;

  z-index: 2;

  width: 80px;

  height: 80px;

  border-radius: 50%;

  background-color: #455ce9;

  cursor: pointer;

  display: flex;

  align-items: center;

  justify-content: center;
}

.burger {
  width: 100%;
  background-color: white;
  burger::after,
  burger::before {
    content: "";

    display: block;

    height: 1px;

    width: 40%;

    margin: auto;

    background-color: white;

    position: relative;

    transition: transform 0.3s;
  }
}
